.row
  .col-md-7.col-md-offset-2
    .page_top{style: 'overflow: auto;'}
      = link_to 'Manage Jobs', :jobs, class: 'btn btn-success pull-right' if current_user
    %hr  
    %h2
      Opportunity Details
    .row
      %label.col-sm-4.control-label{for: 'title'} Title/Position:
      %label.col-sm-7.control-label{style: 'text-align: left;'}= @job.title  
    .row
      %label.col-sm-4.control-label{for: 'company'} Company:
      %label.col-sm-7.control-label{style: 'text-align: left;'}= @job.company
    .row
      %label.col-sm-4.control-label{for: 'url'}URL:
      %label.col-sm-7.control-label{style: 'text-align: left;'}
        = link_to @job.url, @job.url
    .row
      %label.col-sm-4.control-label{for: 'remote_options'} Remote Options:
      %label.col-sm-7.control-label{style: 'text-align: left;'}= @job.remote_options
    .row
      %label.col-sm-4.control-label{for: 'description'} Description:
      %label.col-sm-7.control-label{style: 'text-align: left;'}= @job.description
    .row
      %label.col-sm-4.control-label Share To:
      %label.col-sm-7.control-label.share-links{style: 'text-align: left; font-size:20px;'}
        = link_to CareerHelper.get_facebook_url(@job), target: :blank do
          %i.fa.fa-facebook-official
        = link_to CareerHelper.get_twitter_url(@job), target: :blank do
          %i.fa.fa-twitter        
    .row
      %hr  
    .row
      %label.col-sm-4.control-label Author:
      %label.col-sm-7.control-label{style: 'text-align: left;'}= @job.user.fullname
    .row
      %label.col-sm-4.control-label Posted:
      %label.col-sm-7.control-label{style: 'text-align: left;'}= @job.post_date
    .row
      %label.col-sm-4.control-label Expires:
      %label.col-sm-7.control-label{style: 'text-align: left;'}= @job.post_date + 30.days