.row  
  .col-md-12
    .page_top{style: 'overflow: auto;'}      
      = link_to 'Add New Job', :new_job, class: 'btn btn-success pull-right'
      = link_to 'Manage Jobs', :jobs, class: 'btn btn-info pull-right', style: 'margin-right: 5px;' if @myjobs && @myjobs > 0
    %hr
    %table.stripe
      %thead
        %th
          Title
        %th
          Company  
        %th
          Url
        %th
          Remote options          
        %th
          Post Date
      %tbody
        - @jobs.each do |job|
          %tr
            %td 
              = link_to job.title, job 
            %td 
              = job.company
            %td
              = link_to job.url, job.url
            %td
              = job.remote_options              
            %td
              = job.post_date
:javascript
  $(document).ready(function() {
      $('table').DataTable({"pageLength": 50});
  } );