.careers.row
  .col-md-4.col-md-offset-2
    %h3 
      Newest Opportunities
      %span.see_all
        =link_to '(see all)', :careers_all_jobs    
    %ul.jobs 
      - @jobs.each do |job|
        %li 
          %ul.dev
            %li.fullname
              %span.arrow
                &#x25BC; {            
              %span.title position:
              %span.value= link_to job.title, job
            %li.child.preferred_languages
              %span.title company:
              %span.value= "'#{job.company}'"                 
            %li.child.links
              %span.title details:
              %span
                [
                = link_to "'url'", job.url
                %span.remote
                  = "'#{job.remote_options}'"
                ]
      %li
        %hr
        - if current_user        
          = link_to 'Post An Opportunity', :jobs, class: 'btn btn-default'
        -else 
          = link_to 'Post An Opportunity', :user_slack_omniauth_authorize, class: 'btn btn-default'
  .col-md-4.col-md-offset-1
    %h3 
      Newest Available Devs
      %span.see_all
        =link_to '(see all)', :careers_all_devs
    %ul.devs 
      - @devs.each do |dev|
        %li 
          %ul.dev
            %li.fullname
              %span.arrow
                &#x25BC; {
              %span.title name:
              %span.value= dev.slackhandle.present? ? "'#{dev.fullname} (@#{dev.slackhandle})'" : "'#{dev.fullname}'"
            %li.child.preferred_languages
              %span.title preferred_languages:
              %span.value= "'#{dev.preferred_languages}'"                 
            %li.child.links
              %span.title links:
              %span
                [
                = link_to "'resume'", dev.resume if dev.resume.present?
                = link_to "'linkedin'", dev.linkedin if dev.linkedin.present?
                = link_to "'github'", dev.github if dev.github.present?
                ]
      %li
        %hr
        - if current_user
          = link_to 'Update your availability', :edit_user_registration, class: 'btn btn-default'
        - else
          = link_to 'Update your availability', :user_slack_omniauth_authorize, class: 'btn btn-default'
          
:javascript
  $(document).ready(function() {
      $('li.fullname').bind('click', function(){
        var $hidden_kids = $(this).parent().children('.hidden');
        var $span_arrow = $(this).children('span.arrow');;
        if($hidden_kids.length > 0){
          $($span_arrow).html('&#x25BC; {');          
          $($hidden_kids).removeClass('hidden');
          $(this).removeClass('ellipse')
        }else{
          $($span_arrow).html('&#x25BA; {');
          $(this).parent().children('.child').addClass('hidden'); 
          $(this).addClass('ellipse')
        }
      });
  } );          