.careers.row
  .col-md-5.col-md-offset-1
    %h3 
      Newest Opportunities
      %span.see_all
        =link_to '(see all)', :careers_all_jobs    
    %ul.jobs.match
      - @jobs.each do |job|
        %li 
          %ul.dev
            %li.fullname
              %span.arrow
                &#x25BC; {            
              %span.title position:
              %span.value= link_to job.title, job
            %li.child.preferred_languages
              %span.title company:
              %span.value= "'#{job.company}'"                 
            %li.child.links
              %span.title details:
              %span
                [
                = link_to "'link'", job.url
                %span.remote
                  = "'#{job.remote_options}'"
                ]
            %li.child.share
              %span.title share_to:
              %span
                [
                = link_to "'facebook'", CareerHelper.get_facebook_url(job), target: :blank
                = link_to "'twitter'", CareerHelper.get_twitter_url(job), target: :blank
                ]                   
    %hr
    - if current_user        
      = link_to :jobs, class: 'btn btn-default' do
        %i.fa.fa-plus-circle
        Post An Opportunity
    -else 
      = link_to :user_slack_omniauth_authorize, class: 'btn btn-default' do
        %i.fa.fa-plus-circle
        Post An Opportunity          
  .col-md-5.col-md-offset-1
    %h3 
      Newest Available Devs
      %span.see_all
        =link_to '(see all)', :careers_all_devs
    %ul.devs.match
      - @devs.each do |dev|
        %li 
          %ul.dev
            %li.fullname
              %span.arrow
                &#x25BC; {
              %span.title name:
              %span.value= dev.slackhandle.present? ? "'#{dev.fullname} (@#{dev.slackhandle})'" : "'#{dev.fullname}'"
            %li.child.preferred_languages
              %span.title preferred_languages:
              %span.value= "'#{dev.preferred_languages}'"                 
            %li.child.links
              %span.title links:
              %span
                [
                = link_to "'resume'", dev.resume if dev.resume.present?
                = link_to "'linkedin'", dev.linkedin if dev.linkedin.present?
                = link_to "'github'", dev.github if dev.github.present?
                ]           
    %hr
    - if current_user
      = link_to :edit_user_registration, class: 'btn btn-default' do
        %i.fa.fa-suitcase
        Update your availability
    - else
      = link_to :user_slack_omniauth_authorize, class: 'btn btn-default' do
        %i.fa.fa-suitcase          
        Update your availability
          
:javascript
  $(document).ready(function() {
      $('.match').matchHeight();

      $('li.fullname').bind('click', function(){
        var $hidden_kids = $(this).parent().children('.hidden');
        var $span_arrow = $(this).children('span.arrow');;
        if($hidden_kids.length > 0){
          $($span_arrow).html('&#x25BC; {');          
          $($hidden_kids).removeClass('hidden');
          $(this).removeClass('ellipse')
        }else{
          $($span_arrow).html('&#x25BA; {');
          $(this).parent().children('.child').addClass('hidden'); 
          $(this).addClass('ellipse')
        }
      });
  } );          