.messages
  %h3
    Midwest Dev Chat is an invite-only,
    = link_to 'Slack-powered', 'http://slack.com'
    message group.
  %ul.transparent.rounded-lite
    %li.transparent.rounded-lite.description
      = simple_format "The newest 15 messages in the super-cool <strong>##{@current_channel.name}</strong> channel."
    - @messages.each do |message|
      %li.transparent.rounded-lite
        = simple_format LinkHelper.process_links message
    %li.transparent.rounded-lite.description
      *Usernames have been changes to protect the innocent.

.invite.transparent.rounded-lite

  .signup_controls
    - if cookies[:signed_up]
      %h1
        Thanks for signing up! You'll get an email soon.
    - else
      %h2
        = "We're currently #{Member.count} members strong. Join us!"

      = form_tag( {:action => 'create'}, { :method => :post } ) do
        = text_field_tag(:email, nil, class: 'rounded inputs', placeholder: 'Email Address', required: true)
        %button{class: 'rounded signup-button', type: 'submit'}
          Request invite

.channels.transparent.rounded-lite
  %h3
    Check out all the cool channels!

  %ul
    - @channels.each do |channel|
      %li
        = "##{channel.name}"
        -#= link_to "##{channel.name}", "/home/index/#{channel.slack_id}"
  %h4
    Join the conversation!