.main
  .messages
    %ul
      %li.description
        = simple_format "The newest 15 messages in the super-cool <strong>##{@current_channel}</strong> channel."
      - @messages.each do |message|
        %li
          = simple_format LinkHelper.process_links message
      %li.description
        *Usernames have been changed to protect the innocent.

  .signup_controls.transparent
    - if cookies[:signed_up]
      %h1
        Thanks for signing up! You'll get an email soon.
    - else
      %span
        = "We're currently #{Member.count} members strong. Join us!"

      = form_tag( {:action => 'create'}, { :method => :post } ) do
        %table{style: 'margin:auto;'}
          %tr
            %td Your Name:
            %td
              = text_field_tag(:name, nil, class: 'rounded inputs', placeholder: 'Your Name', required: true)
          %tr
            %td Email:
            %td
              = text_field_tag(:email, nil, class: 'rounded inputs', placeholder: 'Email Address', required: true)
          %tr
            %td Referred By:
            %td
              = text_field_tag(:referral, nil, class: 'rounded inputs', placeholder: 'Referred By', required: true)
          %tr
            %td{colspan: 2}
              -#.center.g-recaptcha{"data-sitekey" => "6LctEhcTAAAAAClQ_FDRUYhJX1QMTwGbvovW3WvN"}
              #recap.center
          %tr
            %td.center{colspan: 2}
              %button.hidden{class: 'rounded signup-button center', id: 'submit_button'}
                Request invite        

.channels.transparent.rounded-lite
  %h3
    Check out all the cool channels!

  %ul
    - @channels.each do |channel|
      %li
        - if Rails.application.secrets.restricted_channels.any?{ |rc| channel.name.include? rc }
          = "##{channel.name}"
        - else
          = link_to "##{channel.name}", "/home/index/#{channel.name}", style: 'color: #000;'
  %h4
    Join the conversation!