!!!
%html
%head{:profile => "http://www.w3.org/2005/10/profile"}/
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KXF2GJ2');</script>
<!-- End Google Tag Manager -->
%title
  = Rails.application.secrets.title
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

%link{:href => '//midwestdevchat.com/favicon.ico', :rel => 'icon', :type => 'image/png'}/

%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
%link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
%script{:src => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}

%link{:href => "//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css", :rel => "stylesheet"}/
%script{:src => "https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"}

%link{:href => "//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.css", :rel => "stylesheet", :title => "Featherlight Styles", :type => "text/css"}/
%script{:charset => "utf-8", :src => "//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.js", :type => "text/javascript"}


%meta{:content => "Midwest Dev Chat", :property => "og:title"}/
%meta{:content => "website", :property => "og:type"}/
%meta{:content => "http://www.midwestdevchat.com/", :property => "og:url"}/
%meta{:content => "http://www.midwestdevchat.com/emojis/simple_smile.png", :property => "og:image"}/
%meta{:content => "Join the largest group of developers in the midwest!", :property => "og:description"}/

= csrf_meta_tags
%body
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXF2GJ2"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  .header
    %h1
      = link_to 'MidwestDevChat.com', '/', class: 'page-title'
      .nav.pull-right
        %ul
          %li= link_to 'Careers', :careers, class: ' btn btn-default'
          %li= link_to 'Contribute on Github', 'https://github.com/skidvis/Midwest-Dev-Chat', class: ' btn btn-default'
          %li
            = link_to 'http://cultofthepartyparrot.com', title: 'Check out the Party Parrot!', class: ' btn btn-default parrot' do
              %img{src: '/emojis/rightparrot.gif', alt: 'Party Parrot gif'}
          %li.login-status   
            - if user_signed_in?                     
              = link_to current_user.fullname, :edit_user_registration, class: ' btn btn-info'
              = link_to 'Logoff', destroy_user_session_path, method: :delete, class: ' btn btn-default'          
            - else 
              = link_to :user_slack_omniauth_authorize do 
                %img{:src => "https://api.slack.com/img/sign_in_with_slack.png"}

  .flash_area
    %p.notice= notice
    %p.alert= alert        
  .content.container
    = yield


:javascript
  $(document).ready(function () {
     $('#name').focus();

     $('.hidden-gif').bind('click', function(){
      $.featherlight($(this).children());
     });
  });
