!!!
%html
%head{:profile => "http://www.w3.org/2005/10/profile"}/
%title
  = Rails.application.secrets.title
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
%link{:href => 'http://midwestdevchat.com/favicon.ico', :rel => 'icon', :type => 'image/png'}/
%link{:href => "//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.css", :rel => "stylesheet", :title => "Featherlight Styles", :type => "text/css"}/
%script{:charset => "utf-8", :src => "//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.js", :type => "text/javascript"}

%meta{:content => "Midwest Dev Chat", :property => "og:title"}/
%meta{:content => "website", :property => "og:type"}/
%meta{:content => "http://www.midwestdevchat.com/", :property => "og:url"}/
%meta{:content => "http://www.midwestdevchat.com/emojis/simple_smile.png", :property => "og:image"}/
%meta{:content => "Join the largest group of developers in the midwest!", :property => "og:description"}/

= csrf_meta_tags
%body
  .header
    %h1{style: 'padding 0 10px;'}
      = link_to image_tag('logo.png'), '/', style: 'color:#000;'
      %span.float-right{style: 'text-align: right;'}
        = link_to 'github.com/skidvis/Midwest-Dev-Chat', 'https://github.com/skidvis/Midwest-Dev-Chat'
        %h3
          = Rails.application.secrets.title
          is an invite-only,
          = link_to 'Slack-powered', 'http://slack.com'
          message group.
  .content
    = yield

:javascript
  $(document).ready(function () {
     $('#name').focus();

     $('.hidden-gif').bind('click', function(){
      $.featherlight($(this).children());
     })
  });