!!!
%html
%head{:profile => "http://www.w3.org/2005/10/profile"}/
%title
  = Rails.application.secrets.title
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
%link{:href => 'http://midwestdevchat.com/favicon.ico', :rel => 'icon', :type => 'image/png'}/

%meta{:content => "Midwest Dev Chat", :property => "og:title"}/
%meta{:content => "website", :property => "og:type"}/
%meta{:content => "http://www.midwestdevchat.com/", :property => "og:url"}/
%meta{:content => "http://www.midwestdevchat.com/emojis/simple_smile.png", :property => "og:image"}/
%meta{:content => "Join the largest group of developers in the midwest!", :property => "og:description"}/

= csrf_meta_tags
%body
  .header.transparent
    %h1
      = link_to Rails.application.secrets.title, '/', style: 'color:#000;'
      %span.float-right
        = link_to 'github.com/skidvis/Midwest-Dev-Chat', 'https://github.com/skidvis/Midwest-Dev-Chat'
  .content
    = yield

:javascript
  $(document).ready(function () {
     $('#email').focus();
  });